/* ********* */
/* HEADER */
/* ******** */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.2rem 4.8rem;
    background-color: #fdf2e9;
}

.logo img {
    width: 12.8rem;
}

.nav-bar .nav {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.6rem;
    font-size: 1.6rem;
    font-weight: 600;
}

.menu{
    margin-right: 1.6rem;
}

.menu:link, .menu:visited {
    text-decoration: none;
    color: #333;
    transition: all 1s;
}

.menu:hover, .menu:active {
    text-decoration: none;
    color: #cf711f;
    border-bottom: 3px solid currentColor;
}


/* ********* */
/* HEADER END*/
/* ******** */

/* ----HERO Start */

.hero-section {
    background-color: #fdf2e9;
    padding: 0 3.2rem;
}

.hero {
    max-width: 130rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 9.6rem;
    column-gap: 8rem;
    align-items: center;
}

.hero-heading-description {
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 1.3px;
    margin-bottom: 4.8rem;
    
}

.hero-image img {
    max-width: 100%;
}

/* ----HERO End */

/* Customers */
.costumers {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.costumer-img img {
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    margin-left: -1.6rem;
    border: 3px solid #fdf2e9;
}

.costumer-img img:last-child {
    margin-right: 0px;
}

.costumer-desc {
    font-size: 1.8rem;
    font-weight: 500;
}

.delivered {
    color: #cf711f;
}
/* ----Steps start */

.steps {
    padding: 0 4.8rem;
}

.steps-header {
    padding: 9.6rem 0 6.4rem 0;
}

.steps-header-description {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #cf711f;
}

/* .steps-content {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 6.4rem;
    column-gap: 4.8rem;
} */

.steps-content img {
    width: 35%;
}

.step-no {
    font-size: 6.2rem ;
    font-weight: 700;
    color: #ddd;
}

.step-description {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 1.05px;
}

.step-title {
    margin-bottom: 3.2rem;
}

.step-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-img::before,
.step-img::after {
    content: '';
    display: block;
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    
}

.step-img::before {
    width:60% ;
    padding-bottom: 60%;
    z-index: -2;
    background-color: #fdf2e9;
}

.step-img::after {
    width:50% ;
    padding-bottom: 50%;
    z-index: -1;
    background-color: #fae5d3;
}

/* ----Steps End */

/* ----Feature-in start */

.feature-in-header {
    text-align: center;
}

.feature-in-header .steps-header-description {
    display: block;
    color: #999;
    margin-bottom: 3.2rem;
}
.feature-in-images {
    display: flex;
    justify-content: space-around;
}

.fi-image {
    height: 3.2rem;
    filter: brightness(1%);
    opacity: 50%;
}
/* ----Feature-in End */

/* ----Testimonials Start */

.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    row-gap: 4.8rem;
    column-gap:3.2rem ;
}
.testimonial-gallery {
    background-color: #fdf2e9;
}

.testimonials-header {
    padding-bottom: 3.2rem ;
}
.author-img img {
    max-width: 20%;
    border-radius: 50%;
}

.author-testimonial {
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 1.2;
}

.author-info {
    font-size: 1.4rem;
    color: #999;
}

.testimonials-body figure {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

/* ----Gallery start */
.gallery {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 3.2rem;
    column-gap: 2.4rem;
}
.gallery img {
    width: 100%;
    transition: all 0.3s;
    object-fit: contain;
}
.container-img {
    overflow: hidden;
}
.container-img img:hover {
    transform: scale(1.1);
}
/* ----Gallery end */
/* ----Testimonials End */

/* ----Meals Start */

.meals-header,
.meals-footer{
    text-align: center;
}

.meals-header span {
    display: block;
    margin-bottom: 2.4rem;
 }

.meals-recipes {
    display: inline-block;
    font-size: 1.6rem;
    color: #e67e22;
    letter-spacing: 1.05px; 
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    font-weight: 600;
    padding: 0.4rem;
}
.meals-recipes:hover {
    border: none;
}
/* ----Meals End */